# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache error log
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# dotenv environment variables file
.env
.env.test
.env.production
.env.local

# Vercel
.vercel

# Mac
.DS_Store

# Build output
dist/
dist-ssr/
build/
backend/node_modules/
frontend/node_modules/
backend/.env
frontend/.env
